
.editor {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 25em;
  overflow: auto;
  width: 100%;
}

.text-area {
  width: 80% !important;
}

.action-menu-container {
  display: flex;
  justify-content: center;
}

.action-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  width: 30%;
}

.data-table {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  width: 100%;
}

.table {
  width: 80% !important;
}
